.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ocupa 100% da altura da tela */
    padding: 20px;
    background-color: #f9f9f9; /* Cor de fundo opcional */
  }
  
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centraliza os cards horizontalmente */
    max-width: 1200px;
    width: 100%;
  }
  
  .card {
    flex: 1 1 calc(25% - 20px); /* Ajusta o tamanho dos cards */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar os cards */
  }
  
  .cardIcon {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .errorMessage {
    color: red;
    margin-top: 20px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }